'memcache.local' => '\OC\Memcache\APCu',
'memcache.distributed' => '\OC\Memcache\Redis',
'memcache.locking' => '\OC\Memcache\Redis',
'redis' => [
     'host' => '{{ hostvars['redis-server']['ansible_host'] }}',
     'port' => 6379,
],